@{
	Layout = "_Layout";
}
<h2>Новый обходной</h2>
<div>Добавление редактирование обходных листов</div>
<select name="event"></select>
<input name="event_date" type="text"/>
<input name="remark" type="text" />
<input name="staff" type="text" />